Dash == 2.0.0
dash_split_pane == 0.0.1
pandas == 1.2.4
numpy == 1.19.2
seaborn == 0.11.0
shap == 0.40.0
scikit-learn == 0.24.2
joblib == 0.17.0
flask == 1.1.2
requests == 2.24.0
dash_daq == 0.5.0
click == 7.1.2
pip == 21.3.1
gevent == 20.9.0
gunicorn == 20.1.0
